@import url("highlight.js/styles/default.css");

:root {
    --horizontal-padding: 1rem;
    --vertical-padding: 1rem;
    --background-color: white;
}

html {
    width: 100%;
    font-family: "Lucida Console", Courier, monospace;
    background-color: var(--background-color);
}

body {
    max-width: 60rem;
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    footer {
        font-size: small;

        ul {
            padding: 0;
            li {
                display: inline;
            }
        }
    }
}

figure {

    + figure {
        margin-top: var(--vertical-padding);
    }

    margin: 0;
    border: solid 0.1rem;
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    position: relative;

    figcaption {
        font-size: smaller;
        position: absolute;
        top: -0.5rem;
        left: var(--horizontal-padding);
        background-color: var(--background-color);
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    pre {
        counter-reset: line-number;
        padding-left: var(--horizontal-padding);
        padding-right: var(--horizontal-padding);
        overflow: scroll;
    
        code::before {
            counter-increment: line-number;
            content: counter(line-number);
            display: inline-block;
            width: calc(2 * var(--horizontal-padding));
        }
    }
}

ul {
    list-style-type: "-";
    padding-inline-start: var(--horizontal-padding);

    li.search-result::marker {
        font-size: larger;
    }
}
