@import url("highlight.js/styles/default.css");

:root {
    --horizontal-padding: 1rem;
    --vertical-padding: 1rem;
    --background-color: white;
    --text-color: rgba(60, 60, 60, 1.0);
    --inverted-text-color: rgba(250, 250, 250, 1.0);
}

html {
    width: 100%;
    font-family: "Lucida Console", Courier, monospace;
    color: var(--text-color);
    background-color: var(--background-color);
}

body {
    max-width: 60rem;
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    footer {
        font-size: small;

        ul {
            padding: 0;
            li {
                display: inline;
            }
        }
    }

    p {
        text-align: justify;
        code {
            font-size: 130%;
        }
    }
}

figure {

    + figure {
        margin-top: var(--vertical-padding);
    }

    margin: 0;
    border: solid 0.1rem;
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    position: relative;

    figcaption {
        font-size: smaller;
        position: absolute;
        top: -0.5rem;
        left: var(--horizontal-padding);
        background-color: var(--background-color);
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    menu {
        font-size: smaller;
        position: absolute;
        top: -1rem;
        right: var(--horizontal-padding);
        list-style: none;
        margin: 0;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        background-color: var(--background-color);

        li {
            display: inline-block;

            &:hover, &:hover * {
                cursor: pointer;
                background-color: var(--text-color);
            }

            button {
                background-color: unset;
                margin: 0;
                border: 0;
            }

            img {
                height: 2em;
            }
        }
    }

    pre {
        counter-reset: line-number;
        padding-left: var(--horizontal-padding);
        padding-right: var(--horizontal-padding);
        overflow: scroll;
    
        code::before {
            counter-increment: line-number;
            content: counter(line-number);
            display: inline-block;
            width: calc(2 * var(--horizontal-padding));
        }
    }
}

.notification {
    background-color: var(--text-color);
    color: var(--inverted-text-color);

    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);

    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 1s;

    &.active {
        opacity: 1;
    }
}

ul {
    list-style-type: "-";
    padding-inline-start: var(--horizontal-padding);

    li.search-result::marker {
        font-size: larger;
    }
}
